@font-face {
    src: url('../fuentes/Poppins-Regular.ttf');
}

@font-face {
    src: url('../fuentes/BalooThambi2-Bold.ttf');
}

@font-face {
    src: url('../fuentes/Poppins-Medium.ttf');
}

.radius-15percent {
    -fx-background-radius: 14;
}

.radius-45percent {
    -fx-background-radius: 45;
}

.radius-100percent {
    -fx-background-radius: 100;
}

.radius-north {
    -fx-background-radius: 25 25 0 0;
}

.font-family60 {
    -fx-font-family: 'Baloo Thambi 2 Bold';
    -fx-font-size: 60;
}
.font-family40 {
    -fx-font-family: 'Baloo Thambi 2 Bold';
    -fx-font-size: 40;
}

.font-family18 {
    -fx-font-family: 'Poppins Medium';
    -fx-font-size: 18;
}

.font-family13 {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 13;
}

.font-family15 {
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 15;
}

.font-family19-button {
    -fx-font-family: "Baloo Thambi 2 Bold";
    -fx-font-size: 19;
}

.font-family15-Medium {
    -fx-font-family: "Poppins Medium";
    -fx-font-size: 15;
}

.text-fill-gradient {
    -fx-text-fill: linear-gradient(to right, #D6BA71, #A28548);
}
.background-transparent{
    -fx-background-color: transparent;
}

.text-area .scroll-pane {
    -fx-background-radius: 15;
}

.text-area .scroll-pane .viewport,
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.scroll-bar:horizontal,
.scroll-bar:vertical{
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}


.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}
.list-cell{
    -fx-font-family: "Poppins Regular";
    -fx-font-size: 15;
}